.headerClass{
    background-color: white;
    position: fixed;
    z-index: 9;
    max-width: inherit;
    .loginNav{
        background-color: white;
        padding-top:16px;
        padding-bottom: 8px;
        display:none;
    }
    .greyText{
        color: grey;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .header{
        background-color: var(--header-background-color);
        .nav-link-items{
            display: none;  
        }
    }
    .alignCenter{
        text-align: right;
        .greyButton{
            border: none;
            background-color: inherit;
            font-size: 12px;
            font-weight: 500;
            color: grey;
            text-transform: uppercase;
            padding-right: 19px;
            padding-left: 24px;
            cursor: pointer;
        }
    }
}

.iconPosition{
    padding-right: 27px;
    padding-left: 28px;
    cursor: pointer;
}
.color{
    color: white;
}

.navLinks{
    padding-right: 23px;
    padding-left: 23px;
    font-weight: bold;
    font-size: 12px;
    color: var(--text-color);
    cursor: pointer;
    &:hover {
        color: blue;
    }
    &:focus {
        color: blue;
        outline-color: transparent;
    }
}

.header{
    padding-top: 12px;
    padding-bottom: 8px;
}
.icon{
    display: block;
    float: right;
    position: absolute;
    margin-top: 7px;
    font-size: 33px;
}
.cursor-pointer {
    cursor: pointer;
}

.dropdown-menu-right{
    right: -29px !important;
}

@media screen and (min-width:991px){
    .headerClass{
        .loginNav{
            display: block;
        }
        .header{
            .nav-link-items{
                display: block;  
            }
        }
    }
    .icon{
        display: none;
    }
    .menu-links{
        display: none;
    }
}
 

