<div class="footer-class"> 
    <div class="container"> 
        <div class="row">   
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h6>About Us</h6>
                <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus eum repudiandae est error </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h6>Newsletter</h6>
                <p class="description">Stay updated with our latest trends</p>
                <input type="email" placeholder="Email Address">
                <span class="input-group-btn">
                    <button class="btn-primary" type="submit">&#8594;</button>
                </span>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h6>Instagram Feed</h6>
                <img src="../../assets/Instagram/1.png" alt="InstaPic1">
                    <img src="../../assets/Instagram/2.png" alt="InstaPic2">
                    <img src="../../assets/Instagram/3.png" alt="InstaPic3">
                    <img src="../../assets/Instagram/4.png" alt="InstaPic4">
                    <img src="../../assets/Instagram/5.png" alt="InstaPic5">
                    <img src="../../assets/Instagram/6.png" alt="InstaPic6">
                    <img src="../../assets/Instagram/7.png" alt="InstaPic7">
                    <img src="../../assets/Instagram/8.png" alt="InstaPic8">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <h6>Follow Us</h6>
                <p class="description">Let us be social</p>
                <p>
                    <span><i class="fa fa-facebook-f"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><i class="fa fa-twitter"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><i class="fa fa-globe"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><i class="fa fa-twitter"></i></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pt-5">
                <p class="alignCenter">Copyright &copy;2020</p>
            </div>
        </div>
    </div>
</div>

