.alignCenter{
    text-align: center;
}
.footer-class{
    color: var(--text-color);
    background-color: var(--listing-background-color);
    padding-top: 75px;
    padding-bottom: 75px;
}
.description{
    color: var(--grey-text);
}