<div class="footer-class"> 
    <div class="container"> 
        <div class="row">   
            <div class="col-3">
                <h4>About Us</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus eum repudiandae est error </p>
            </div>
            <div class="col-3">
                <h4>Newsletter</h4>
                <p>Stay updated with our latest works</p>
                <input type="text">
            </div>
            <div class="col-3">
                <div class="row">
                    <h4>Instagram Feed</h4>
                </div>
                <div class="row">
                    <img src="../../assets/Instagram/1.png" alt="">
                    <img src="../../assets/Instagram/2.png" alt="">
                    <img src="../../assets/Instagram/3.png" alt="">
                    <img src="../../assets/Instagram/4.png" alt="">
                    <img src="../../assets/Instagram/5.png" alt="">
                    <img src="../../assets/Instagram/6.png" alt="">
                    <img src="../../assets/Instagram/7.png" alt="">
                    <img src="../../assets/Instagram/8.png" alt="">
                </div>
            </div>
            <div class="col-3">
                <h4>Follow Us</h4>
                <p>Let us be social</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="alignCenter">Copyright @2020</p>
            </div>
        </div>
    </div>
</div>

