.entire{
    padding-top:120px;
    background-color: var(--listing-background-color);
    color: var(--text-color);

    .photo{
        height:560px;
        width:auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
