.entire{
    padding-top:120px;
    background-color: var(--listing-background-color);
    color: var(--text-color);

    .photo{
        height:560px;
        width:auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.preview{
    font-size: small;
}

.banner-height{
    height: 336px;
    overflow: hidden;
}
.banner-image{
    padding-top: 110px;
}
.banner-title{
    position: absolute;
    color:black;
    text-align: center;
    left: 0;
    right: 0;
    top: 30%;
    letter-spacing: 3px;
    .heading{
        color:white;
        font-family:segoe UI;
        font-weight: bold;
        font-size:22px;
    }
}
