.home-newsletter {
    padding: 80px 0;
    background-color:var(--newsletter-background-color);
    .single {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        color: var(--text-color);
        h2 {
            font-size: 30px;
            font-weight:bold;
        }
        p {
            color: var(--grey-text);
            font-size: 12px;
            font-weight: 500;
        }
        .form-control {
            height: 50px;
            border-color: transparent;
            border-radius: 20px;
            text-indent: 25px;
        }&:focus {
            box-shadow: none;
            border-color: #243c4f; 
        }
        .btn {
            height: 40px;
            margin-top: 5px;
            margin-left: -80px;
            border-radius: 50px;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            position: relative;
            padding-left: 30px;
            padding-right: 30px;
            &:focus {
                box-shadow: none !important;
            }
        }
    }
}
.success {
    color: green;
  }
  .error {
    color: red;
  }

 

