<section class="home-newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="single">
                    <h2>Subscribe to our Newsletter</h2>
                    <p>We won't send any kind of spam</p>
                    <div class="input-group pt-4">
                        <input type="email" class="form-control" placeholder="Enter address">
                        <span class="input-group-btn">
                            <button [ngClass]="iconColor ? 'btn btn-dark' : 'btn btn-primary'" type="submit"
                                (click)="submitNotification()">Get Started</button>
                        </span>
                    </div>
                    <p *ngIf="isGranted" class="success">
                        Notifications were granted by the user
                    </p>
                    <p *ngIf="!isEnabled" class="error">
                        Notifications are not available in the browser or enabled in the application
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>