.image{
    width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.box{
    position: relative;
}
.img-title{
    position: absolute;
    color:black;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    letter-spacing: 3px;
    .heading{
        color:white;
        font-family:segoe UI;
        font-weight: bold;
        font-size:62px;
    }
    .lines{
        color:white;
        font-size: 14px;
        font-family: segoe UI;
    }
}
