<div class="container-fluid ">
    <div class="row">
        <img class="banner-image img-responsive" src="../../assets/Banner/banner-bg.png" alt="Banner Image">
        <div class="banner-title">
            <h1 class="heading">Fashion For <br>Upcoming Winter</h1>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nesciunt <br>rerum modi
                similique mollitia neque incidunt animi dolor officiis!</p>
            <button (click)="scrollToList()" class="btn bg-white text-dark">View Collection</button>
        </div>
    </div>
</div>