<div class="container-fluid ">
    <div class="row">
        <img class="image img-responsive" src="../../assets/Banner/banner-bg.png">
        <div class="img-title">
            <h1 class="heading">Fashion For Upcoming Winter</h1>
            <p class="lines">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nesciunt rerum modi
                similique mollitia neque incidunt animi dolor officiis!</p>
            <button (click)="scrollToList()" class="btn bg-white text-dark">View Collection</button>
        </div>
    </div>
</div>